<h1>Articles#show</h1>
<h1>Articles title:</h1>
<p><strong><%= @article.title %></strong></p>
<h1>Articles text:</h1>
<p><strong><%= @article.text %></strong></p>
<%= link_to 'Create new', new_article_path %>
<p></p>
